# Core
fastapi==0.115.6
mangum==0.19.0
pydantic-settings==2.7.1
python-jose[cryptography]==3.3.0
httpx==0.28.1
boto3==1.35.86

# Test
pytest==8.3.4
pytest-asyncio==0.25.0
moto[dynamodb,s3]==5.0.27

# Recommendation
geopy==2.4.1
requests==2.32.3
shapely==2.0.6
rich==13.9.4
